<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/home.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/css/home.css" />
    <title>Rezet-health-app</title>
  </head>
  <body>
    <main id="main-wrapper">
      <div class="main-wrapper-sub">
        <div class="home-page-container" id="home">
          <div class="loader-wrapper">
            <div class="loader">
              <img
                class="image-inner"
                src="../static/image/logo-inner.png"
                alt=""
              />
              <img
                class="image-outer"
                src="../static/image/logo-outer.png"
                alt=""
              />
            </div>
            <div style="font-size: 6vw"><h1>Rezet</h1></div>
          </div>
          <div class="home-link-wrapper">
            <a href="signup" class="home-links">Register</a>
            <a href="login" class="home-links">Log In</a>
          </div>
        </div>
        <div class="stage">
          <div class="box bounce-1" style="">
            <img src="../static/image/iphone-front.png" alt="" />
          </div>
          <div class="box1 bounce-2" style="">
            <img src="../static/image/iphone-back.png" alt="" />
          </div>
        </div>
      </div>
    </main>
    <div id="loader">
      <div class="loader">
        <img class="image-inner" src="../static/image/logo-inner.png" alt="" />
        <img class="image-outer" src="../static/image/logo-outer.png" alt="" />
      </div>
      <div style="font-size: 6vw"><h1>Rezet</h1></div>
    </div>
  </body>
  <script>
    let loadingScreen = document.getElementById("loader");
    let mainWrapper = document.getElementById("main-wrapper");
    console.log(mainWrapper);

    function loader() {
      mainWrapper.style.display = "flex";
      loadingScreen.style.display = "none";
    }
    setTimeout(loader, 100);
  </script>
</html>
