{% extends 'base.html' %}
{% block content %}
    <div class="login-page-container">
      <header class="login-header">
        <a href="../#home" class="back-button">Back</a>
      </header>
      <div class="home-registration">
        <form class="form-container" method="POST">
          {% csrf_token %}
          <h1>LOGIN</h1>
          <div class="signup-input-box">
            <label for="email">Email</label>
            <input
              type="email"
              placeholder="someone@example.com"
              id="email"
              name="email"
              class="input-box"
              required
            />
          </div>
          <div class="signup-input-box">
            <label for="password">Password</label>
            <input
              type="password"
              placeholder=" * * * * * * * "
              id="password"
              name="password"
              class="input-box"
              required
            />
          </div>
          <a href="../profile"><button>Submit</button></a>
          <div>
            <p><center>Or continue with</p></center>
            <div class="login-logos">
                <img src="../static/image/Google logo.png" alt="">
                <img src="../static/image/facebook-logo.png" alt="">

            </div>
          </div>
          <p>if not registered please <a href="../signup">Sign up</a></p>
        </form>
      </div>
    </div>
    
    {% endblock %}