<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <p style="margin-bottom: -20px;">Hey Akhil Paul</p>
    <h1>Shop from our range of latest equipment</h1>
    <div>
        <p style="font-size: 15px;">Medical Equipment</p>
        <div>
            <div>
                <img src="" alt="Glucometer">
                <h4>Glucometer</h4>
                <button>INR 799</button>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div>
        <a href="#" class="float">
            <i class="fa fa-plus my-float"></i>
          </a>
    </div>
</body>
</html>