<link rel="stylesheet" href="../static/css/try.css" />
{% extends 'base.html' %} {% block content %}
<div>
  <p>Hey Akhil Paul</p>
  <h1>Shop from our range of latest equipment</h1>
  <div>
    <p style="font-size: 15px">Medical Equipment</p>
    <div style="display: flex">
      <div style="width: 20%">
        <img src="" alt="Glucometer" />
        <h4>Glucometer</h4>
        <button>INR 799</button>
      </div>
      <div style="width: 20%">
        <img src="" alt="Antihistamine" />
        <h4>Antihistamine</h4>
        <button>INR 799</button>
      </div>
      <div style="width: 20%">
        <img src="" alt="Paracetamol" />
        <h4>Paracetamol</h4>
        <button>INR 799</button>
      </div>
      <div style="width: 20%">
        <img src="" alt="Ibuprofen" />
        <h4>Ibuprofen</h4>
        <button>INR 799</button>
      </div>
      <div style="width: 20%">
        <img src="" alt="Albuterol" />
        <h4>Albuterol</h4>
        <button>INR 799</button>
      </div>
      <div style="width: 20%">
        <img src="" alt="Metformin" />
        <h4>Metformin</h4>
        <button>INR 799</button>
      </div>
      <div style="width: 20%">
        <img src="" alt="Atorvastatin" />
        <h4>Atorvastatin</h4>
        <button>INR 799</button>
      </div>
      <div style="width: 20%">
        <img src="" alt="Strovas" />
        <h4>Strovas</h4>
        <button>INR 799</button>
      </div>
    </div>
  </div>
  <div>
    <a href="#" class="float">
      <i class="fa fa-plus my-float"></i>
    </a>
  </div>
  <div id="container-floating">
    <p>
      <a
        href="javascript:void(0)"
        onclick="document.getElementById('light').style.display='flex';document.getElementById('fade').style.display='block'"
        ><div id="floating-button">
          <p class="plus">+</p>
          <img
            class="edit"
            src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png"
          /></div
      ></a>
    </p>
  </div>
  <div id="light" class="white_content">
    <div>
      
        <div></div>
      <a
        href="javascript:void(0)"
        onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"
        >Close</a
      >
    </div>
  </div>
</div>
{% endblock %}
