<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/try.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="container-floating">
      <p>
        <a
          href="javascript:void(0)"
          onclick="document.getElementById('light').style.display='flex';document.getElementById('fade').style.display='block'"
          ><div id="floating-button">
            <p class="plus">+</p>
            <img
              class="edit"
              src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png"
            /></div
        ></a>
      </p>
    </div>
    <div id="light" class="white_content">
      <div>
      This is the lightbox content.
      <a
        href="javascript:void(0)"
        onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"
        >Close</a
      >
    </div>
    </div>
  </body>
</html>
